header {
  margin-top: 30px;
  margin-left: 30px;
}

h1 {
  display: inline;
  font-size: 4em;
  margin-left: 30px;
}

canvas {
  margin: 30px 30px 0px 30px;
}

#product-display {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  margin: 30px 30px 30px 30px;
  background-color: lightgray;
  padding: 30px;
}

#img1 {
  border: 3px solid black;
  height: 300px;
  margin: auto;
}

#img2 {
  border: 3px solid black;
  height: 300px;
  margin: auto;
}

#img3 {
  border: 3px solid black;
  height: 300px;
  margin: auto;
}

img:hover {
  cursor: pointer;
}

p {
  margin: 0px 30px 30px 30px;
  font-size: 1.3em;
}